*{
  box-sizing: border-box;
}
body{
  font: 16px/26px "rubik_lightregular", sans-serif;
  color: #455a63;
}
a{
  text-decoration: none;
}
header{
	width: 100%;
	background: #f5f8fb;
}
.header{
	width: 1280px;
	margin: 0 auto;
	height: 100px;
	display: flex;
	justify-content: space-between;
  align-items: center;;oj
	background: #f5f8fb;
}
.phone-header{
	margin-right: 15px;
  position: relative;
}
.icon-call-answer:before {
  content: "\e903";
  font-size: 20px;
  position: absolute;
  top: 3px;
  left: -28px;
  color: #465a64;
}
                                             /* Nav */
nav{
  width: 100%
  background: #fff;
  border-bottom: 1px solid #e0e9f0;
  border-top: 1px solid #e0e9f0;      
}
.nav{
  width: 1280px;
  margin: 0 auto;
  height: 51px;
}
.nav>ul>li>a {  
  font-family: "rubik_mediumregular", sans-serif;
  font-size: 18px;
  color: #282b2f;
}
.first-list-nav{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;  
  color: #282b2f;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.first-list-nav li{
  position: relative;
}
ul.first-list-nav li:hover ul{
  display: block;
  color: #00766b;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       .,
}
.list{
  position: absolute;
  display: none; 
}
.list li{
  font: 15px/50px "rubik_mediumregular", sans-serif;
  color: #282b2f;
  min-width: 150px;
  text-align: center;
  background: #f5f8fb;
  display: block;
}
.list li a{
  color: #282b2f;
  padding: 10px;
}
.list li a:hover{
  background-color: #009688;
  color: white;
}
                                             /* Nav */

.breadcrumbs{
  width: 1280px;
  margin: 0 auto;
  height: 34px;
  font-family: "rubik_lightregular", sans-serif;
  margin-bottom: 86px;
}
 .breadcrumbs ul{
  display: flex;
  justify-content: flex-start;
  flex-direction: row; 
  align-items: flex-end;
  position: relative;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.breadcrumbs>ul>li>a{
  text-decoration: none;
  color: #282b2f;
}
.icon-right-arrow:before {
  content: "\e901";
  font-size: 10px;
  padding-left: 10px;
}
.after-page{
  color: #78909c;
  padding-left: 10px;
  font-family: 
}
.main{
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img{
  border-radius: 4px;
}
.main p{
  padding-bottom: 38px;
}
content{
  width: 844px;
}
main h1, h2, h3, h4{
  font-family: "rubik_mediumregular", sans-serif; 
}
main h1{  
  font-size: 44px;
  line-height: 55px;
  padding-bottom: 41px;
}
main h2{  
  font-size: 36px;
  line-height: 55px;
  padding-bottom: 10px;
  padding-top: 50px;
}
main h3{   
  font-size: 28px;
  line-height: 38px;
  padding: 61px 0 39px 0px;
}
main h4{
  font-size: 22px;
  line-height: 38px;
  padding: 56px 0 38px 0;
}
.img1{
  padding: 3px 0 41px 0;
}
.subtitle-article{
  font-family: 'rubikitalic', sans-serif;
  font-size: 20px;
  color: #546e7a;
  margin-top: -2px;
  margin-bottom: 30px;
  display: block;
}
.list-main{
  font-family: 'rubik_lightitalic', sans-serif;
  font-size: 16px;
  line-height: 41px;
  color: #1976d2;
  padding-left: 25px;
  position: relative;
  margin-bottom: 30px;  
}
.list-main a{
  font-family: 'rubik_lightitalic', sans-serif;
  color: #1976d2;
  text-decoration: underline;
}
.list-main li{
  position: relative;
}
.list-main li:before{  
  content: '';
  background: url(../images/bullet.png);
  width: 12px;
  height: 2px;
  position: absolute;
  top: 11px;
  left: -25px; 
}
.options{
  color: #455a63;
}
.three-img img{
  padding-bottom: 39px;
}
.three-img ul{
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
.ol{
  list-style-type: decimal;
  line-height: 39px;
  color: #282b2f;
}
.ol li{
  margin-left: 18px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'rubikregular';
}
.table {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e0e9f0;
}
th, td {
  text-align: center;
  padding: 8px;
}
tr:nth-child(even){
  background-color: #f8f8f8;
}
th{
  font-family: "rubik_mediumregular", sans-serif;
}
.small-subtitle{
  text-transform: uppercase;
  font: 22px/36px "rubik_mediumregular", sans-serif;
  margin-bottom: 40px;
  display: block;
}
.article{
  border-bottom: 1px solid #e0e9f0;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.link{
  font-family: 'rubikitalic', sans-serif;
}
.link a{
  color: #1976d2;
}
aside{
  width: 380px;
}
.img-aside{
  padding: 30px 0 15px 0;
}
.subtitle-aside{
  padding-top: 15px;
  font-family: "rubik_mediumregular", sans-serif;
  font-size: 22px;
  display: block
  color #282b2f;
}
.readmore{
  font-family: "rubik_mediumregular", sans-serif;
  font-size: 16px;
  display: block
  color: #009688;
  border-bottom: 1px solid #009688;
}
.readmore a{
  text-decoration: none;
  color: #009688;
}
.news{
  padding: 0 0 29px 0;
  border-bottom: 1px solid #e0e9f0;
}
.text-input, .search-form, .button, .txt-area{
  width: 379px;
  height: 52px;
  border-radius: 4px;
  font: 16px/26px "rubik_lightregular", sans-serif;
  color: #bdc6ca;
  border: 2px solid #e0e9f0;
  padding: 0 15px;
  margin-bottom: 16px;
}  
.search-form{
  margin-bottom: 0;
  padding-right: 60px; 
}
.search{
  position: relative; 
}
.txt-area{
  padding: 15px;
}
.icon-search:before {
  content: "\e900";
  font-size: 20px;
  position: absolute;
  top: 16px;
  left: 333px;
  color: #009688;
  display: block;
}
.link-all-news{
  width: 379px;
  height: 52px;
  border-radius: 4px;
  background: #ffffff;
  border: 2px solid #009688;
  color: #009688;
  display: block;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-news{
  position: relative;
}
.icon-arrow-right2:before {
  content: "\ea3c";
  font-size: 20px;
  top: 10px;
  left: 10px;
  color: #009688; 
  display: block;
}
.link-all-news a{
  color: #009688;
  font-family: "rubik_mediumregular", sans-serif;
  font-size: 18px;
  text-decoration: none; 
}
.link-news{
  position: relative;
}
/*.icon-arrow-right2:before {
  content: "\1f32b";
  position: absolute;
  font-size: 20px;
  top: 19px;
  left: 323px;
  color: #009688;
  display: block;
}

.link-all-news:before {
  content: "";
  background: url(../images/arrow-right.png);
  width: 16px;
  height: 14px;
  position: absolute;
  top: 18px;
  left: 323px;
  color: #009688;
  display: block;
}*/
.button{
  background: #009688;
  font-family: "rubik_mediumregular", sans-serif;
  font-size: 18px;
  border: 0;
  color: #ffffff;
  margin-top: 24px;
  padding: 0;
}
.txt-area{
  height: 140px;
}
footer{
  width: 100%;
  border-top: 1px solid #e0e9f0;
}
.footer{
  width: 1280px;
  margin: 0 auto;
  height: 113px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon-footer{
  color: #546e7a;
}
.icon-footer ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: center; 
}
.icon-footer ul li{
  margin-right: 31px;
  font-size: 20px;
}
.icon-footer ul li:hover{
  font-size: 32px;
  margin-right: 20px;
  color: #009688;
}
.icon-dribbble-logo:before {
  content: "\e905";
}
.icon-instagram-logo:before {
  content: "\e907";
}
.icon-facebook-logo:before {
  content: "\e906";
}
.icon-linkedin-logo:before {
  content: "\e904";
}
.logo-footer{
  font-size: 16px;
  font-family: 'rubikregular';
}
.time{
  color: #bdc6ca;
  font-size: 14px;
  padding: 17px 0 26px 0;
  display: block;
}
/* Tabs*/

.tabs-nav ul, li{    
  vertical-align: baseline;
  font: 16px/26px "rubik_mediumregular", sans-serif;
  top: 50%;
      
}
.tabs{
  font: 16px/26px "rubik_lightregular", sans-serif;
  color: #546e7a;
}
.tabs-nav li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.tabs-nav {
  list-style: none;
  margin: 0;
  padding: 0;    
}
.tabs-nav li a{
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;    
  width: 250px;
  margin-right: 4px;
  border-color: #009688;
  background: #ffffff;
}
.tabs-nav li a{
  text-decoration: none;
  border-bottom: none;
}
.tabs-nav .tab-active a {
  background: #009688;
  color: #ffffff;
  cursor: default;
   
}
.tabs-nav a {
  background: hsl(120, 11%, 96%);
  border: 2px solid #009688;
  color: #009688;
  display: block;
  font-size: 16px;
  height: 54px;
  line-height: 54px;
  text-align: center;    
  width: 250px;
}
.tabs-nav li {
  float: left;
}
.tabs-stage {
  border-top: 2px solid #009688;
  clear: both;
  margin-bottom: 20px;
  position: relative;
  top: -1px;
  width: 844px;
}
.tabs-stage p {
  margin: 0;
  padding-top: 23px;
  color: #546e7a;
    
}

/*
ul, li, div {
    background: hsla(0, 0%, 0%, 0);
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    font: 13px/20px "Droid Sans", Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
    text-shadow: 0 1px 0 hsl(0, 100%, 100%);
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs-nav li:first-child a {
    border-right: 0;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}
.tabs-nav .tab-active a {
    background: hsl(0, 100%, 100%);
    border-bottom-color: hsla(0, 0%, 0%, 0);
    color: hsl(85, 54%, 51%);
    cursor: default;
}
.tabs-nav a {
    background: hsl(120, 11%, 96%);
    border: 1px solid hsl(210, 6%, 79%);
    color: hsl(215, 6%, 57%);
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
}
.tabs-nav li {
    float: left;
}
.tabs-stage {
    border: 1px solid hsl(210, 6%, 79%);
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    border-top: 0;
    clear: both;
    margin-bottom: 20px;
    position: relative;
    top: -1px;
    width: 281px;
}
.tabs-stage p {
    margin: 0;
    padding: 20px;
    color: hsl(0, 0%, 33%);
}