@media (max-width: 1310px){
      *, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
    }
  
  .main{
    width: 100%;
    padding: 0 20px;
    flex-direction: column;   
    }
   .header, .nav, .footer{
    width: 100%;
    padding: 0 20px;
    } 
   .breadcrumbs{
    width: 100%;
    padding-left: 20px;
    }
    .content{
    width: 100%;
    }  
   .footer{
    width: 100%;
    }
   .img-aside, .img1, img {
    width: 100%;
    }
    .tabs label{
        width: 50%;
        margin-right: -4px;
    }
   

}
@media (max-width: 910px){
	.nav>ul>li>a {
    font-size: 15px;
  }
  main h1{
  font-size: 35px;
  line-height: 40px;
  padding-top: 40px;
  }

}
@media (max-width: 768px){
  .breadcrumbs{
    display: none;
    }

  
}
main h1{
  font-size: 30px;
  line-height: 36px;
  padding-top: 40px;
    }

@media (max-width: 680px){
    .nav, nav{
        display: none;
    }
 .menu-toggle{
    display: inline;
   }

}








/*
 }
  .footer{
    width: 100%;
  }
  .header{
    width: 100%;
  }
  .nav{
    width: 100%;
  }
  .breadcrumbs{
    width: 100%;
  }*/